body {
    background-image: url("./Images/travel_background.jpg");
    background-size: 100% auto;
    font-family:ui-sans-serif,system-ui,sans-serif
}

nav {
    background-color: #2e3b2f;
    color: white;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

#searchBar {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

#searchInput {
    border: none; 
    outline: none; 
}

#title {
    font-size: 50px;
    color: rgb(20, 101, 230);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-top: 7%;
}

#intro {
    font-size: 20px;
    color: rgb(20, 101, 230);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-block: 5%;
}

.iconbutton{
    width: 48px;
    height: 200px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 3%;
    bottom: 10%;
    cursor: pointer;
  }