body {
    background-image: url("./Images/travel_background.jpg");
    background-size: 100% auto;
    font-family:ui-sans-serif,system-ui,sans-serif;
}

#navHeader {
    background-color: #2e3b2f;
    color: white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

#searchBar {
    list-style-type: none;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

#searchInput {
    border: none; 
    outline: none; 
}

#title {
    font-size: 30px;
    color: rgb(20, 101, 230);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding-top: 7%;
}

#intro {
    font-size: 15px;
    color: rgb(20, 101, 230);
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    padding-block: 5%;
}

.iconbutton{
    width: 48px;
    height: 200px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10%;
    cursor: pointer;
}

#aboutUs {
    font-size: 15px;
    color: rgb(20, 101, 230);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
    padding-block: 5%;
}

#ourTeam {
    color: rgb(20, 101, 230);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
}

#ourTeamNav {
    display: flex;
    justify-content: space-between;
}

.job {
    color: white;
    background-color: rgb(20, 101, 230);
    text-align: center;
    border-radius: 5px;
    width: 50%;
}

#contactForm {
    color: rgb(20, 101, 230);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
}

.contactInput {
    outline-color: rgb(20, 101, 230);
    border-color: rgb(20, 101, 230);
    background-color: transparent;
}

.submitButton {
    padding: 7px 15px;
    background-color: rgb(20, 101, 230);
    color: white;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
  }

